In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [4]:
df1 = pd.read_csv('jan22p1NL.csv')
df2 = pd.read_csv('jan22p2NL.csv')

In [6]:
df = pd.concat([df1, df2])

In [10]:
df['created_at'] = pd.to_datetime(df['created_at'])
df.set_index('created_at')

                                            id
created_at
2022-01-08 23:59:59+00:00  1479966143293136897
2022-01-09 00:00:00+00:00  1479966147487408128
2022-01-09 00:00:16+00:00  1479966214617190400
2022-01-09 00:00:38+00:00  1479966306879393798
2022-01-09 00:01:08+00:00  1479966432725291008
...                                        ...
2022-01-28 23:56:23+00:00  1487212994635472903
2022-01-28 23:56:24+00:00  1487212998859051009
2022-01-28 23:56:26+00:00  1487213007210151936
2022-01-28 23:56:30+00:00  1487213023991369730
2022-01-28 23:56:34+00:00  1487213040777015298

[364169 rows x 1 columns]

In [14]:
# define the bins
bins = [0, 6, 12, 18, 24]

# add custom labels if desired
labels = ['00:00-05:59', '06:00-11:59', '12:00-17:59', '18:00-23:59']

# add the bins to the dataframe
df['Time Bin'] = pd.cut(df.created_at.dt.hour, bins, labels=labels, right=False)

In [15]:
df

0         18:00-23:59
1         00:00-05:59
2         00:00-05:59
3         00:00-05:59
4         00:00-05:59
             ...
191652    18:00-23:59
191653    18:00-23:59
191654    18:00-23:59
191655    18:00-23:59
191656    18:00-23:59
Name: Time Bin, Length: 364169, dtype: category
Categories (4, object): ['00:00-05:59' < '06:00-11:59' < '12:00-17:59' < '18:00-23:59']

In [17]:
dfg = df.groupby('Time Bin', as_index=False).agg([list, 'mean'])

In [18]:
dfg

                                                    created_at  \
                                                          list
Time Bin
00:00-05:59  [2022-01-09 00:00:00+00:00, 2022-01-09 00:00:1...
06:00-11:59  [2022-01-09 06:05:05+00:00, 2022-01-09 06:05:1...
12:00-17:59  [2022-01-09 12:26:11+00:00, 2022-01-09 12:26:1...
18:00-23:59  [2022-01-08 23:59:59+00:00, 2022-01-09 18:00:0...

                                                 \
                                           mean
Time Bin
00:00-05:59 2022-01-16 04:51:14.787362816+00:00
06:00-11:59 2022-01-16 19:01:34.932527872+00:00
12:00-17:59 2022-01-16 15:23:27.210558208+00:00
18:00-23:59 2022-01-16 23:46:16.407259648+00:00

                                                            id
                                                          list          mean
Time Bin
00:00-05:59  [1479966147487408128, 1479966214617190400, 147...  1.482576e+18
06:00-11:59  [1480058023745921027, 1480058048878161920, 148...  1.482790e+18
12:00-17:59  [1480153930663436292, 1480153947449008139, 148...  1.482735e+18
18:00-23:59  [1479966143293136897, 1480237950965358599, 148...  1.482862e+18